<!DOCTYPE html>
<html>
  <head>
    <title>The Gothenburger Admin Site</title>
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body class="container">
    <%= render "shared/nav" %>
    <div style="padding-top: 50px;">
      <% if notice.present? %>
        <aside class="alert alert-info">
          <strong>Notice: </strong><%= notice %>
        </aside>
      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <strong>Error: </strong><%= alert %>
        </aside>
      <% end %>
    </div>
    <%= yield %>
    <%= render "shared/footer" %>
    <script>
      window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
          $(this).remove();
        });
      }, 5000);
    </script>
  </body>
</html>
